---
import MediaQuery from '../components/MediaQuery.vue';
---

<h1>client:media</h1>
<p>Este componente se monta solo si la media query se cumple (por ejemplo, en movil).</p>
<MediaQuery client:media="(max-width: 600px)" />

